@font-face {
  font-family: 'proxima';
  src: url('proxima_nova_bold-webfont.woff2') format('woff2'),
    url('proxima_nova_bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_italic';
  src: url('proxima_nova_regular_italic-webfont.woff2') format('woff2'),
    url('proxima_nova_regular_italic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'proxima';
  src: url('proxima_nova_regular-webfont.woff2') format('woff2'),
    url('proxima_nova_regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
