* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #990909;
  padding: 12px;
  font-size: 18px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  text-align: center;
}
.header_title {
  margin-bottom: 8px;
}
.navigation {
  width: 100%;
  background: black;
  padding: 24px 40px;
}
.navigation_list {
  list-style: none; /*убираем точки*/
  display: flex;
  justify-content: space-between;
}
.navigation_item {
  flex: 1 1 calc(25%);
}
.navigation_item:not(:last-child) {
  margin-right: 80px;
}
.navigation_image-wrapper {
  text-align: center;
  max-width: 300px;
}
.navigation_imag {
  height: auto;
  max-width: 100%;
}
.navigation_image-description {
  color: white;
}
.main {
  display: flex;
  flex: 1 1;
}
.link-navigation {
  background-color: #7d0909;
  flex: 0 0 220px;
}
.link-navigation_list {
  list-style: none;
}
.link-navigation_item {
  margin-bottom: 32px;
}
.link-navigation_link {
  color: #e95b11;
  font-weight: 700;
}
.article {
  padding: 24px 0;
}
.article_text {
  color: white;
  margin-bottom: 24px;
}
.aside {
  flex: 0 0 200px;
  background-color: #e3dddd;
}
.aside_title {
  background-color: #bdbdbd;
  text-align: center;
  font-size: 20px;
  margin: 0;
}
.aside_text {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.devider {
  display: block;
  height: 1px;
  width: 70%;
  background-color: black;
  margin-bottom: 20px;
}
.footer {
  background-color: #e95b11;
  margin-top: 24px;
  text-align: center;
}
.footer_text {
  font-size: 20px;
  color: white;
}
