@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');
:root {
  --write: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--write);
  min-height: 100vh;
  padding-top: 55px;
}
.main {
  padding: 0 32px;
}
.main_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1102px;
  list-style: none;
  margin: 0 auto;
  padding-left: 120px;
}
.list_item {
  width: 225px;
}
.list_item:nth-child(3) {
  margin-right: 120px;
}
.list_item:not(:first-child) {
  margin-left: 100px;
}
.list_item_link-1 {
  transition: all 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: blue;
  border-radius: 50%;
  fill: white;
  border: blue 1px solid;
  margin: 0 auto;
  margin-bottom: 20px;
}

.link_icon {
  transition: all 0.2s ease;
}
.list_item_link-1:hover {
  background-color: white;
}
.list_item_link-1:hover .link_icon {
  fill: blue;
}

.list_item_title {
  font-family: 'Raleway';
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.list_item_text {
  font-family: 'Raleway';
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
}
