* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #0a080f;
  font-family: 'Open Sans', sans-serif;
  padding-top: 150px;
}
.header {
  text-align: center;
  margin-bottom: 55px;
}
.header_logo {
  /* margin-top: 121px; */
  /* margin: 121px 53px; */
}
.article {
  text-align: center;
}
.article_text {
  color: aliceblue;
  text-transform: uppercase;
  margin-bottom: 23px;
}
.devider {
  display: block;
  height: 1px;
  width: 231px;
  background-color: white;
  margin: 0 auto;
}
.navigation {
  padding: 23px;
}
.navigation_list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 86px;
}
.navigation_link {
  padding-left: 15px;
  margin-right: 26px;
}

footer {
  font-family: sans-serif;
  text-align: center;
}
.footer_text {
  color: antiquewhite;
  /* margin-bottom: 38; */
  padding: 87px 38px;
}

.footer_link {
  text-decoration: none;
  color: #00b6e4;
}
